.description-container {
  display: flex;
  justify-content: space-between;

  span {
    font-weight: bold;
  }
}

.move-description {
  padding: 20px;

  @media (max-width: 500px) {
    padding: 5px;
  }

  p {
    margin-bottom: 20px;
    text-align: justify;

    @media (max-width: 500px) {
      font-size: 10px;
    }
  }
}

.poster {
  padding: 20px;
  width: 250px;

  @media (max-width: 500px) {
    width: 200px;
    height: auto;
  }
}

.custom-button-heart {
  margin-left: 0px;
  border-radius: 5px;
  height: 30px;
  width: 100px;
  border: none;
  background-color: gray;
  color: white;
  cursor: pointer;
}
