.container {
  margin: 110px 0 110px 0;
}

.app-title {
  margin-bottom: 40px;
  padding: 0 20px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  h1 {
    margin-bottom: 15px;
  }

  p {
    text-align: center;
  }
}
